<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">
       
    <form class="form-group" [formGroup]="signupForm" (ngSubmit) = "onFormSubmit()">
        <fieldset>
          <legend>SignUp</legend>
         
            <!--- Email Block --->
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="text" class="form-control" formControlName="email"
                id="inputEmail"
                placeholder="Email">
            </div>
           <div *ngIf="email.invalid  && email.touched"
           class="col-sm-3 text-danger">
             
           <div *ngIf = "email.errors?.required">
            Email field can't be blank
        </div>
 
        <div *ngIf = "email.errors?.pattern">
            The email id doesn't seem right
        </div>

           </div>

            <!--- Password Block --->
          <div formGroupName="password">
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" formControlName="pwd"
                id="inputPassword"
                placeholder="Password">
            </div>
     
            <div class="form-group">
              <label for="confirmPassword" >Confirm Password</label>
              <input type="password" formControlName="confirmPwd"
                id="confirmPassword"
                placeholder="Password">
            </div>
          </div>  
            <!--- Select gender Block --->
            <div class="form-group">
              <label for="select">Gender</label>
                <select id="select" formControlName="gender">
                  <option *ngFor="let g of genderList"
                  [value]="g">{{g}}</option>
                 
                </select>
            </div>
             
            <!--- Terms and conditions Block --->
             <div class="form-group checkbox">
              <label>
                <input type="checkbox" formControlName="terms"> Confirm that you've read the Terms and 
                Conditions
              </label> 
            </div>
            
           <!--- Buttons Block --->
            <div class="form-group">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>

        <!-- Password error block -->
       <div *ngIf="(password.invalid && password.touched)"
         class="col-sm-3 text-danger">
         Password needs to be more than 3 characters
       </div>

      <!-- terms error block -->
      <div *ngIf="terms.invalid && terms.touched" 
          class="col-sm-3 text-danger">
         Please accept the Terms and conditions first.
      </div>

    </form>
    <p>Form Value {{signupForm.value | json}}</p>
<p>Form Status {{signupForm.status | json}}</p>
  </div>
</div>